#towersCouncilFaith {
    -fx-background-image: url("/imgs/TowersChurchCouncil.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

#marketBuildHarvest {
    -fx-background-image: url("/imgs/MarketBuildHarvest.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

#buildHarvestPane {
    -fx-background-image: url("/imgs/BuildHarvest.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

#marketPane {
    -fx-background-image: url("/imgs/Market.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.personalBoardPane {
    -fx-background-image: url("/imgs/PersonalBoard.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

#familyMembersPanel {
    -fx-background-color: #e1e29e;
}

.familyMemberButton {
    -fx-border-radius: 50em;
    -fx-border-color: green;
    -fx-border-width: 10px;
    -fx-background-radius: 50em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-font-size: 15px;
}

.familyMemberButton:selected {
    -fx-opacity: 80%;
}

.familyMemberPlaceHolder:disabled {
    -fx-border-radius: 50em;
    -fx-border-color: green;
    -fx-border-width: 10px;
    -fx-background-radius: 50em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-font-size: 15px;
}

.FM1Class {
    -fx-background-color: black;
}

.FM0Class {
    -fx-background-color: white;
    -fx-font-color: black;
}

.FM2Class {
    -fx-background-color: darkorange;
    -fx-font-color: black;
}

.FM3Class {
    -fx-background-color: purple;
    -fx-font-color: black;
}

#availableFMLabel {
    -fx-background-color: #e1e29e;
}

.actionSpaceButton {
    -fx-background-color: orange;
    -fx-opacity: 40%;
    -fx-min-width: 45px;
    -fx-min-height: 45px;
    -fx-background-radius: 20px;
}

.actionSpaceButton:disabled {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button {
    -fx-cursor: hand;
}

.toggle-button {
    -fx-cursor: hand;
}

.labelResources{
    -fx-font-size: 25px;
    -fx-font-family: sans-serif;
    -fx-background-color: red;/*aliceblue;*/
    -fx-background-radius: 40px;
    -fx-background-position: center;
    -fx-padding: 10px 10px 10px 10px;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
